body {
    background-color: aqua;
}

#map {
    height: 420px;
    background-color: grey;
    border: 2px solid;
}

.messages {
    margin-top: 0.5rem;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr auto auto;
}

#message-bar {
    border: 1px solid gray;
    background-color: white;
}
